/* Container da página */
.apresentacao-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-family: "Jost", sans-serif;
  overflow: auto;
}

/* Background com imagem */
.background-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
  filter: brightness(0.95); /* leve escurecida para destacar o texto */
}

/* Overlay do texto */
.text-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* alinhamento à esquerda */
  height: 100vh;
  padding-left: 7vw; /* distância da borda esquerda */
  padding-right: 7vw;
  color: #000;
}

/* Título */
.text-overlay h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0px;
  letter-spacing: 2px;
  color: #222;

}

/* Subtítulo */
.text-overlay p {
  font-size: 2rem;
  max-width: 700px;
  margin-top: 0;
  margin-bottom: 35px;
  color: #333;
  line-height: 2.2rem;
}

/* Botão */

.text-overlay button {
  padding: 18px 40px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.3);
  color: #222;
  border: 2px solid #222;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  margin-bottom: 5rem;
}

.text-overlay button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

/* Barra superior */
.topBar {
 width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 10px 2rem;
  color: #0e0000;
  background: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  position: fixed; /* Fixa a barra no topo */
  top: 0; /* Fixa no topo da página */
  left: 0; /* Garante que a barra fique alinhada à esquerda */
  z-index: 10; /* Coloca a barra acima de outros elementos */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Sombra para dar um efeito de destaque */
}
.topBar img{
  height: 50px;
  margin-top: 1%;
}

.topBar button {
  margin-left: auto;
  margin-right: 90px;
  color: #252525;
  background-color: #ffffff;
  border: none;
  padding: 8px 15px;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  transition: all 0.2s ease-in-out;
}

.topBar button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
