@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

.telaInicial-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 0.4rem;
  box-sizing: border-box;
}

/* Título e bloco CRONOGRAMA */


/* Área do calendário */
.calendar-area {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Container dos botões */
.botoes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Reduzi o gap entre os botões */
  margin-top: 2rem;
  flex-wrap: wrap; /* Permite que os botões quebrem para a linha seguinte */
  width: 100%;
}

/* Botão Criar Matéria (azul) */
.botao-criar {
  background-color: #A6EFFF;
  border: none;
  border-radius: 15px;
  padding: 0.8rem 2rem; /* Menor padding */
  font-size: 1.6rem; /* Fonte um pouco menor */
  letter-spacing: 1px; /* Menos espaçamento entre letras */
  cursor: pointer;
  font-family: "Jost", sans-serif;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.botao-criar:hover {
  background-color: #89e2f5;
  transform: scale(1.05);
}

/* Botão Editar (pêssego) */
.botao-editar {
  background-color: #FDE0CB;
  border: none;
  border-radius: 15px;
  padding: 0.8rem 3.5rem; /* Ajuste no padding */
  font-size: 1.6rem; /* Fonte um pouco menor */
  letter-spacing: 1px; /* Menos espaçamento entre letras */
  cursor: pointer;
  font-family: "Jost", sans-serif;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.botao-editar:hover {
  background-color: #f7cdb1;
  transform: scale(1.05);
}

/* Ajustes específicos para o FullCalendar */
.fc-header-toolbar {
  font-size: 1.4rem; /* Reduzir o tamanho da fonte do cabeçalho */
}

.fc-daygrid-day-number {
  font-size: 1.2rem; /* Ajustar o tamanho dos números dos dias */
}

.fc-toolbar-title {
  font-size: 1.6rem; /* Reduzir o tamanho do título do calendário */
}

/* Media Queries para telas maiores */
@media (min-width: 768px) {
  .botoes-container {
    gap: 2.5rem; /* Ajuste no espaçamento */
  }

  .botao-criar {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
  }

  .botao-editar {
    font-size: 1.8rem;
    padding: 1rem 5rem;
  }
}

@media (min-width: 1024px) {
  

  .botao-criar, .botao-editar {
    font-size: 2rem;
  }

  .botoes-container {
    gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .botao-criar, .botao-editar {
    font-size: 2.4rem;
  }

  .botoes-container {
    gap: 4rem;
  }
}
