.sidebar {
  width: 220px;
  background-color: #fff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px 0;

  position: fixed;  
  top: 0;
  left: 0;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
  height: auto;
}

/* Menu principal */
.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
  font-family: 'Jeju Gothic', sans-serif;
  font-size: 120%;
 
}

.menu-icon {
  width: 35px;
  margin-right: -3px;
  vertical-align: middle;
}

.menu-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
   font-family: 'Jeju Gothic', sans-serif;
   font-size: 120%;
  margin-bottom: 40px; 

}

.menu a,
.menu-bottom a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: background 0.10s ease-in-out;
}

.menu a:hover,
.menu-bottom a:hover {
  background-color: #f9f9f9;
    transform: translateX(5px) scale(1.03); /* leve movimento */
  box-shadow: 0 4px 10px rgba(0,0,0,0.08); /* sombra suave */

}
.menu a.active,
.menu-bottom a.active {
  justify-content: center;
  font-weight: bold ;
  background-color: #ffeadc;
}
.menu a.active .menu-icon,
.menu-bottom a.active .menu-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .menu a.active .menu-icon, 
.menu-bottom a.active .menu-icon {
  display: flex;
}
  .logo {
    display: none;
}
    .sidebar {
      width: 100px; /* sidebar mais fina */ 
    }
    .menu a,
    .menu-bottom a {
      justify-content: center;
  }
  .menuText{
    display: none;
  }

  .menu-icon {
  width: 20px;
  vertical-align: middle;
}
   .menu a:hover,
.menu-bottom a:hover {
    transform: translateX(2px) scale(1.03); /* leve movimento */

}
@media screen and (max-width: 600px) {
  .sidebar{
    padding-top: 10px;
    width: 60px;
  }
    .menu{
      height: 100px;
      gap: 3px
    }
  
    .menu-icon {
    width: 10px;
    vertical-align: middle;
  }
  .menu-bottom{
    padding-left: 10px;
    justify-content: center;
    margin: 10px;
    gap : 0px
    
  }
  .menu-bottom a:hover {
    transform: translateX(0px) scale(1.01); /* leve movimento */
}

}
}


.logout {
  color: red;
}
